$color-1: #fec5bb;
$color-2: #fcd5ce;
$color-3: #fae1dd;
$color-4: #f8edeb;
$color-5: #e8e8e4;
$color-6: #d8e2dc;
$color-7: #ffe5d9;
$color-8: #ffe5d9;
$color-9: #ffd7ba;
$color-10: #fec89a;
$color-11: #081c15;