.main-menu{
    position: fixed;
    
    background: #000;
    width: 100%;
    margin-left: -15px;
    padding-bottom: 25px;
    &__list{
        list-style: none;
        li{
            display: inline-block;
            margin: 20px 30px 1px 20px;              
            float: right;      
        }
    }
    &__iten{
    color: $color-5; 
    text-decoration: none;  
    text-transform: uppercase;
    }
    &__iten--current{
        color: $color-10;
    }    
}
