.form{
    padding-top: 120px;
}

.form-group{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}

.form__label{
    padding-bottom: 100px;
    color: $color-5;
    line-height: 25px;
}
.form__iten{
    width: 100%;
    background-color: $color-5
}