#picture-class{
    margin-top: 100px;
}

.about-me{
    margin-top: 100px;
}

.container-all-photos{
    display: flex;
}
.container-photos-about{
    width: 50px;
    height: 50px;
    overflow: hidden; 
}


