.submit{
    text-align: center;
    margin-top: 15px;    
}

#submit{
    font-size: 14px;
    font-weight: bold;
color: grey;
border-radius: 5px;
background: $color-3;
border: 2px solid $color-1;
}
#submit:hover{
    background: $color-10;
    scale: 1.03;
    transition: all 200ms ease-out;
}

.background-image{
    background-image: url('/img/ballerina-grande.jpg');
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 250px;
}

