#img-home{
    max-width: 200%;
    height: 100%;
    display: block;
}

.home-title{
    color: $color-5;
    font-size: 65px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
    margin-top: 50px;
}
.home-subtitle{
    color: $color-5;
    font-size: 30px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: 30;
    text-align: center;
    margin-top: 60px;
}

.home-description{
    font-size: 16px;
    color: $color-6;
}

#home-second-img{
    margin-left: 80px;
    margin-top: 40px;
}